name: Terraform CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  terraform:
    name: Terraform Format, Init & Validate
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Check Terraform formatting
        run: terraform fmt -check

      - name: Terraform Init (with no backend)
        run: terraform init -backend=false

      - name: Terraform Validate
        run: terraform validate

      - name: Save Terraform Plan
        run: terraform plan -out=tf_plan -input=false

      - name: Upload Plan Artifact
        uses: actions/upload-artifact@v4
        with:
          name: terraform-plan
          path: tf_plan
